.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-text-1 {
  font-size: 2.625rem;
  margin: -100px 247px 0 343px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1183px;
  margin: 100px -43px 60px auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/a1675f562c95619b13d9e8c98c20a1d46a1d776e931e5e107cbd7667fbb38237ab0592deb9c577d84b66e64145579b059dc5252707358781018fb5_12801.jpg");
  min-height: 681px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  background-image: url("images/1.jpg");
  min-height: 681px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-text-1 {
    font-family: Georgia, serif;
    font-size: 2.5rem;
    margin-right: 147px;
    margin-left: 243px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-2 {
    min-height: 812px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 37px;
    margin-left: 133px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 829px;
  }

  .u-section-1 .u-image-2 {
    min-height: 829px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 622px;
  }

  .u-section-1 .u-image-2 {
    min-height: 622px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-image-2 {
    min-height: 645px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}.u-section-2 {
  min-height: 1542px;
}

.u-section-2 .u-image-1 {
  width: 670px;
  height: 566px;
  margin: 31px auto 0 0;
}

.u-section-2 .u-gallery-1 {
  width: 581px;
  height: 577px;
  grid-gap: 10px 10px;
  margin: -566px calc(((100% - 1140px) / 2) + -40px) 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 407px;
  margin: 30px calc(((100% - 1140px) / 2) + -40px) 0 auto;
}

.u-section-2 .u-image-3 {
  width: 700px;
  height: 458px;
  margin: -407px auto 0 calc(((100% - 1140px) / 2) + 21px);
}

.u-section-2 .u-image-4 {
  width: 1003px;
  height: 377px;
  margin: 48px calc(((100% - 1140px) / 2) + 30px) 21px auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1518px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 563px;
    margin-top: -8px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: calc(((100% - 940px) / 2) + 531px);
    margin-top: -530px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -40px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 21px);
  }

  .u-section-2 .u-image-4 {
    width: 940px;
    height: 353px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1435px;
  }

  .u-section-2 .u-image-1 {
    width: 298px;
    height: 489px;
    margin-top: -949px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-2 .u-gallery-1 {
    width: 353px;
    height: 453px;
    margin-top: -489px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + -40px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 270px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1132px;
  }

  .u-section-2 .u-image-1 {
    width: 434px;
    height: 262px;
    margin-top: -791px;
    margin-left: calc(((100% - 540px) / 2) + 53px);
  }

  .u-section-2 .u-gallery-1 {
    width: 434px;
    height: 298px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 386px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 353px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 203px;
    margin-top: 153px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 614px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 288px;
    margin-top: -276px;
    margin-left: calc(((100% - 340px) / 2) + -17px);
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 257px;
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 243px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 222px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 128px;
    margin-top: 284px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 0;
  }
}